[Desktop Entry]
Name=Scoreboard
Comment=Boxing Tournament Scoreboard
Exec=/usr/local/bin/scoreboard
Terminal=false
Type=Application
Categories=Sports;
